/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {    
    padding: 0;
    text-align: center;
}
  
#game-intro { 
    padding: 40px 0px;
}

#start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
  
#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
}
  
#game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/mountain.gif);
    background-size: cover;
}

.dry-grass {
    position: relative;    
    top: 695px;
    height: 64px;
    background-image: url(../images/dry-grass.png);
    background-size: cover;
    z-index: 1;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {      
        background-position: 900px 510px;
       }
   
    95% {        
        background-position: 50px 510px;
    }
    100% {        
        background-position: 0 510px;
    }
}

#game-end {
    display: none;
}
  
.main-logo-img {
    width: 600px;
}

.mtb-logo-img {
    height: 15rem;
    width: 15rem;
}
  
.arrows-img {
    width: 100px;
    margin-bottom: 15%;
}
  
#start-button {
    font-size: 20px;
    background-color: blue;
    color: #fff;
    height: 7vh;
    padding: 20px 40px;
    border: 1;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-right: 2%;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.589); 
    outline: none; 
    transition: 0.2s all; 
}

#start-button:active { 
    transform: scale(0.9);     
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.589);     
} 


.instructions {
    font-size: 1.2rem;
}

.stats {
    font-size: 1.5rem;
    font-weight: bold;
}

.end {
    margin: 20px 50px 50px;
    align-items:baseline;
    display: flex;
    justify-content: space-around;
    
}

#restart-button {
    font-size: 25px;
    background-color: blue;
    color: #fff;
    height: 7vh;
    padding: 20px 40px;
    border: 1;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-right: 2%;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.589); 
    outline: none; 
    transition: 0.2s all; 
}
#restart-button:active { 
    transform: scale(0.9);     
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.589);     
}

.finale{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(6, 6, 118);
}